{% extends 'base.html' %}

{% block title %}Admin page{% endblock %}

{% block content %}
<style>
  body{ 
   background: #bd4d5c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93aee9, #cc4d4d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93aee9, #a03d3d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
p{
   color:rgb(163, 245, 70);
   font-size: 50px;
   margin-top: 10%;
   font-family: sans-serif;
   font-weight: 100px;  
}
  


</style>
<body>

  <div class="container">

    <p><marquee><i>THIS PAGE IS ONLY FOR PETROL PUMP AUTHORITIES</i></marquee></p><br><br><br>
  </div>
  <footer style="margin-top:20%" class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
        ><i class="fa fa-facebook "></i
      ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
        ><i class="fa fa-twitter"></i
      ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
        ><i class="fa fa-google"></i
      ></a>

  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
        ><i class="fa fa-instagram"></i
      ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Email:
    <a class="text-white" href="#">Keralapetrolpump123@gmail.com</a><br>
      Phone no:
    <a class="text-white" href="#">+913466847767<br>+913456754524</a><br>
    </div>
    <!-- Copyright -->
  </footer>
</body>
{% endblock %}