<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load crispy_forms_filters %}
    {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>

    .dropdown-toggle::after{
      content: none;
    }
  </style>
  
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <h5 style="font-size: 18px; margin-left: 10px; padding-top: 9px;"><span style="color: rgb(255, 255, 255);">Petrol</span><span style="color: blue; margin-left: 5px;">Pump</span></h5></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    
    <div style="margin-left: 10%;" class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'userprofile' %}">Add Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'userorder' %}">Order</a>
        </li>
   
      <li class="nav-item dropdown" style="margin-left: 900px;" >
    {% if images %}
    {% for i in images %}
        {% if i.image == '/static/images/83.jpg' %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'images/83.jpg' %}" alt="image" style="height: 40px; width: 40px; border-radius: 25px;" />
          </a>
        {% else %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{i.image.url}}" alt="image" style="height: 40px; width: 40px; border-radius: 25px;" />
          </a>
        {% endif %}
    {% endfor %}
    {% else %}
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="{% static 'images/83.jpg' %}" alt="image" style="height: 40px; width: 40px; border-radius: 25px;" />
    </a>
    {% endif %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="viewprofile?id={{user.id}}">My profile</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
      </div>
      </li>
     
    </ul>
    </div>
  </nav><br><br>

{% block content %}
    {% endblock %}


</html>