{% extends 'base.html' %}

{% block title %}Pumps Report{% endblock %}

{% block content %}


<body style="background-color: antiquewhite;">
    <div class='container'>
        <table border="2px" style="margin-left: 200px; margin-top: 5%;" class="center">
        <thead>
            <tr>
                <th>COMPANY NAME</th>
                <th>PLACE</th>
                <th>PHONE NO</th>
                <th>EMAIL ID</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for PM in pmp %}
            <tr>
                <td style="color: blue;">{{ PM.company }}</td>
                <td>{{ PM.place }}</td>
                <td>{{ PM.phone_no }}</td>
                <td>{{ PM.email }}</td>
                <td><a style="color: red;" href="{% url 'deletepump' PM.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
         </div>
         <footer style="margin-top:20%" class="bg-dark text-center text-white">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
              ><i class="fa fa-facebook "></i
            ></a>
        
              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
              ><i class="fa fa-twitter"></i
            ></a>
        
              <!-- Google -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
              ><i class="fa fa-google"></i
            ></a>
      
        
              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
              ><i class="fa fa-instagram"></i
            ></a>
        
            </section>
            <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
        
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Email:
          <a class="text-white" href="#">Keralapetrolpump123@gmail.com</a><br>
            Phone no:
          <a class="text-white" href="#">+913466847767<br>+913456754524</a><br>
          </div>
          <!-- Copyright -->
        </footer>
</body>
</html>
{% endblock %}