<!doctype html>
<html lang="en">
<head>
    <title>signup</title>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    body{
        background: #5bdb7b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93aee9, #73cc5d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93aee9, #5fd15f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    h1{
        font-family: sans-serif;
        text-align: center;
        color: rgb(46, 11, 141);
    }
</style>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <h5 style="font-size: 18px; margin-left: 10px; padding-top: 9px;"><span style="color: rgb(255, 255, 255);">Petrol</span><span style="color: blue; margin-left: 5px;">Pump</span></h5></a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      
        <!-- Navbar links -->
        <div style="margin-left: 10%;" class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'loginpage' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Signup</a>
            </li>
        </div>
      </nav>
        <div style="margin-top: 5%;" class="container">
            {% for message in messages%}
        <h5>
            <div class="'alert alert-danger mt-5" style="width:20%;font-size: 20px;">
                {{ message }}
            </div>
        </h5> 
            {% endfor %}
    <div class="container bg-light">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><br>
                <h1>signup</h1>
            </div>
            <div class="col-md-4"></div>
        </div> 
        <form action="{% url 'usercreate' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><br>
                   
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text"name="first_name1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">last_name</label>
                <input type="text" name="last_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last-name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">username</label>
                <input type="text"name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">email</label>
                <input type="email"name="email_id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
            <div class="form-group">
              <label for="exampleInputPassword1">password</label>
              <input type="password"name="password" class="form-control" id="exampleInputPassword1" placeholder="enter password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">confirm password</label>
                <input type="password"name="cpassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter confirm name">
              </div>
            <div class="col-md-12 text-center">
            <button  type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br><br>
    </div> 
</form><br><br><br>
</div>
</center>
<footer style="margin-top:20%" class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"
      ><i class="fa fa-facebook "></i
    ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
      ><i class="fa fa-twitter"></i
    ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/" role="button"
      ><i class="fa fa-google"></i
    ></a>


      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
      ><i class="fa fa-instagram"></i
    ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Email:
  <a class="text-white" href="#">Keralapetrolpump123@gmail.com</a><br>
    Phone no:
  <a class="text-white" href="#">+913466847767<br>+913456754524</a><br>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>
